body {
  background-color: black;
  min-height: 100vh;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

#landing h1 {
  font-weight: normal;
  font-size: 3.125rem;
}

.download-link {
  color: aquamarine;
  font-size: 1rem;
}

.download-link a:visited {
  color: aquamarine;
}

#about h2,
#coming-soon h2 {
  font-size: 2.625rem;
  font-weight: 300;
}

#about p {
  font-size: 1.3125rem;
  color: gray;
}

footer {
  text-align: right;
  font-size: 1.3125rem;
  color: gray;
}
