body {
  background-color: black;
  min-height: 100vh;
}

.main-content {
  text-align: center;
}

.main-header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 3.125rem;
  color: white;
}

.download-link {
  color: aquamarine;
  font-size: 1rem;
}

.download-link a:visited {
  color: aquamarine;
}
